<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

   <typeAliases>
      <typeAlias type="com.multi.fineapple.vo.CartVO" alias="cartVO"></typeAlias>
      <typeAlias type="com.multi.fineapple.vo.ProductVO" alias="ProductVO"></typeAlias>
      <typeAlias type="com.multi.fineapple.vo.LikeVO" alias="LikeVO"></typeAlias>
      <typeAlias type="com.multi.fineapple.vo.MemberVO" alias="memberVO"></typeAlias>
      <typeAlias type="com.multi.fineapple.vo.CartProductVO" alias="cartProductVO"></typeAlias>
      <typeAlias type="com.multi.fineapple.vo.CategoryVO" alias="categoryVO"></typeAlias>
      <typeAlias type="com.multi.fineapple.vo.OrderProductVO" alias="orderProductVO"></typeAlias>

   </typeAliases>
   <mappers>
    <!-- SQL문 정의하는 파일들의 목록을 지정. --> 
      <mapper resource="mapper/cartMapper.xml" />
      <mapper resource="mapper/productMapper.xml" />
      <mapper resource="mapper/likeMapper.xml" />
      <mapper resource="mapper/memberMapper.xml" />
      <mapper resource="mapper/cartProductMapper.xml" />
      <mapper resource="mapper/categoryMapper.xml" />
      <mapper resource="mapper/orderProductMapper.xml" />
   </mappers>

</configuration>
