<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartProduct">

	<resultMap id="cartProductDetailResult" type="cartProductDetailVO">
		<id property="cartProductId" column="cart_product_id" />
		<result property="cartProductName" column="product_name" />
		<result property="cartProductPrice" column="product_price" />
		<result property="cartProductImg" column="product_img" />
		<result property="productId" column="product_id" />
	</resultMap>
	
	<select id="getCartProductDetailListByCartProduct" parameterType="cartProductVO" resultMap="cartProductDetailResult">
		select cp.cart_product_id, p.product_name, p.product_price, p.product_img, p.product_id from cart_product cp join product p on cp.product_id = p.product_id where cp.cart_product_id = #{cartProductId};
	</select>
	
	<select id="getCartProductDetailListByCart" parameterType="cartVO" resultMap="cartProductDetailResult">
		select cp.cart_product_id, p.product_name, p.product_price, p.product_img, p.product_id from cart_product cp join product p on cp.product_id = p.product_id where cp.cart_id = #{cartId};
	</select>
	
	<select id="getCartProductList" parameterType="memberVO" resultType="cartProductVO">
		select cp.cart_id, cp.cart_product_id, cp.product_id from cart as c join cart_product as cp on c.cart_id = cp.cart_id where c.member_id = #{member_id};
	</select>
	
	<delete id="delete" parameterType="productVO">
		delete from cart_product where product_id = #{product_id};
	</delete>
	
	<insert id="insert" parameterType="productVO">
		insert into cart_product values(null, #{cartId}, #{productId});
	</insert>

</mapper>